@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');





/* *!section 1 satrt */



.container-one{
    width:100%;
    height:108px;
position: fixed;
z-index: 5;
  
}



.container-two{
    /* background-image: url(/img/bg-intro.png); */
    background-image: url(/img/bg-intro.png);
    height: 750px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: right;
    background-position-y: center;
    overflow: hidden;
}

.row-one{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.nav-cal-1{
    padding: 21px;
    margin-left: 224px;
}
.log-img{
    width:67px;
}

/* *!nav bar end */


.sec-one-row{
    margin-top: -82px;
height: 50px;
}

.welcome{
    top: -500px;
right: 22rem;
font-weight: 400;
font-size: 1.4rem;
}

.DIGITAL-AGENC{
    top: -27rem;
    left: 6rem;
    font-size: 6rem;
    font-weight: 800;
    color: transparent;
     
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: blue;
}

.sec-img{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;   top: -504px;
    width: 526px;
    height: 445px; border-radius: 20px;
}
.blue-line{
    width: 60px;
    height: 3px;
    background: blue;
    top: -30.2rem;
    left: 5rem;
}


.btn-1{top: -6rem;
    left: 9rem;
    width: 9rem;
    height: 3.1rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background:#e67e22;
    border: none;
    
}
.btn-2{
    top: -6rem;
  left: 21rem;
  width: 9rem;
  height: 3.1rem;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(15, 15, 15);
  border:2px solid  #e67e22 ;
}

.btn-1:hover {
    cursor: pointer;
    background:none; 
    border:2px solid #e67e22 ;
    color: black;
    transition: 0.8s;
}
.btn-2:hover {
    cursor: pointer;
    background-color: #e67e22;
    border: none;
    color: white;
    transition: 0.8s;
}
/* *!section 1 end */



/* *!section 2 start */

.about-us-par-div{
    margin-left: 43rem;
    margin-top: 5rem;
}
.about-us{
    font-size: 15px;
    color: blue;
    margin-left: 3.5rem; 
}
.our-goal{
    font-size: 33px;
    font-weight: 500;
    margin-left: -1rem;
}

.make{
    font-weight: bold;
    font-size: 33px;
    margin-left: -65px;
    margin-top: -15px;
}
.light_mode-div{
     
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 20rem !important;
    height: 20rem;
    border-radius: 15px;
    margin-left: 8rem; 
}
/* *!card hover */
.light_mode-div:hover .lightmode-p{
    
    /* background-color: #6c5ce7;  */
    color:white ;
    transition: 0.6s;
}

.light_mode-div:hover  .light_mode-1{
    /* background-color: #6c5ce7;  */
    color:white ;
    transition: 0.6s;
}
.light_mode-div:hover{
    
    background-color: #6c5ce7; 
    color:white ;
    transition: 0.6s;
}
/* *!------------- */
.light_mode-1{
    color: #6c5ce7;
    font-size: 3rem !important;
    margin-top: 3rem;
    margin-left: 7.5rem;
}
.idea{
    font-weight: bold;

    margin-left: 76px;
    margin-top: 2rem;
    font-size: 1.5rem; 
}
.lightmode-p{
    margin-left: 1rem;
    padding: 0rem 2rem;     color: #8a8a8a;
  font-weight: 500
}
.tips_and_updates-div{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 20rem;
    height: 20rem;
      border-radius: 15px;
    margin-left: 4rem;
}

.tips_and_updates{
    font-size: 3rem !important;
    margin-top: 3rem;
    margin-left: 7.5rem;
    color: #6c5ce7;
}
.idea-2{
    font-weight: bold;

    margin-left: 76px;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.tips_and_updates-p{
    margin-left: 1rem;
    padding: 0rem 2rem; 
        color: #8a8a8a;
       font-weight: 500; 
}

.tips_and_updates-div:hover .tips_and_updates {
       
    /* background-color: #6c5ce7;  */
    color:white ;
    transition: 0.6s;
}

.tips_and_updates-div:hover .tips_and_updates-p{
    color:white ;
    transition: 0.6s;  
}
.tips_and_updates-div:hover{
       background-color: #6c5ce7; 
       color:white ;
       transition: 0.6s;
   }




.msg-div{
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 20rem;
    height: 20rem;
    border-radius: 15px;
    margin-left: 0rem;
}
.mgs{
    color: #6c5ce7;
    font-size: 3rem !important;
    margin-top: 3rem;
    margin-left: 7.5rem;
   
}
.mgs-p{
    margin-left: 1rem;
    padding: 0rem 2rem; 
       color: #8a8a8a;
        font-weight: 500; 
}

.msg-div:hover .mgs-p{
    color:white ;
    transition: 0.6s;
}
.msg-div:hover .mgs{
    color:white ;
    transition: 0.6s; 
}
.msg-div:hover{
    background-color: #6c5ce7; 
       color:white ;
       transition: 0.6s;
}

.idea-2{
    font-weight: bold;

margin-left: 76px;
margin-top: 2rem;
font-size: 1.5rem;
}





/* *!section 2 end */

/*  ! section 3 start */
.PORTFOLIO-div{
     display: grid;
    justify-content: center;
    margin-top: 4rem;
    font-size: 3rem;   
}  

.PORTFOLIO{
        font-size: 1rem;
    margin-left: 7rem;
    color: blue;
}
.see-our{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 2rem;
}
.amazing{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}
.port{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: blue;
}
.port-collection{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}


/* *! img gallery */

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
::selection{
  color: #fff;
  background: #007bff;
}
/* body{
  padding: 10px;
} */
.wrapper{
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  max-width: 550px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #007bff;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image{
  width: calc(100% / 3);
  padding: 7px;
 
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 3rem;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
  
}
.gallery .image:hover img{
  transform: scale(1.1);
  opacity: 0.3 ;
}
/* *!my hover editing */

.karthi{
  opacity: 0;
  font-size: 1rem;
  margin-top: -12rem;
  margin-bottom: 9rem;
  margin-left: 8rem;
  font-weight: bold;
  color:#310794;
}
.karthi:hover{
  opacity: 1;
}
.karthi-1{
  opacity: 0;
  font-size: 1rem;
  margin-top: -12rem;
  margin-bottom: 9rem;
  margin-left: 10rem;
  font-weight: bold;
  color:#310794;
}

.gallery .image:hover .karthi-1{
 
  opacity: 1 ;
}

.gallery .image:hover .karthi{
    opacity: 1;
    
}
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  font-weight: 500;
  margin-left: 5px;
}
.details .icon{
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}

@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}

/*  ! section 3 end */

/*  ! section 4 start */
.SERVICES-box{
  display: grid;
  /* align-items: center; */
  justify-content: center;
}


.SERVICES{
display: flex;
justify-content: center;
  color: blue;
  margin-top: 3rem;
}
.choose-you{
  font-size: 3rem;
  font-weight: bold;

}

/* .box-div{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.box-div .box{
  width: calc(100% / 3);
  padding: 7px;
}

.box-div .box div{
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 3rem;
} */

/* *!card */
.card-rows{
  width: 96%;
}

.card-rows div{
  flex: 1 0 0%;
  /* border: 2px solid; */
  margin-left: 5rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.card-rows div span{
  font-size: 3rem;
  font-size: 3rem;
  justify-content: center;
  display: grid;
  color: #310794;
  margin-top: 3rem;
  
}
.head{

font-size: 2rem;
    font-weight: bold;
    color: blue;
    justify-content: center;
    display: grid;
    margin-top: 2rem;
}

.lorem{
  color: #8a8a8a;
  padding: 22px;
}

.card-rows div:hover{
  color: white;
  background-color: #310794;
  transition: 0.6s;
}

.card-rows div:hover span{
  color: white;
 
}
.card-rows div:hover p{
  color: white;
 
}


/*  ! section 4 end */
/*  ! section 5 start */
.box{
  align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 10rem;
    margin-left: 15rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 65rem;
    height: 15rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    border-radius: 2rem;
    font-weight: bold;
  color: #310794;
}

.box-footer{
  width: 71%;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    margin-left: 15rem;
    margin-top: -9rem;
    color: #8a8a8a;
    margin-bottom: 3rem;
 
}
/*  ! section 5 end */

/*  ! section 6 start */

.pricing-div{
  display: grid;
  /* align-items: center; */
  justify-content: center;
  /* margin-top: 2rem; */
  padding: 22px;

}
.pricing{
  color: rgba(0, 0, 255,0.7);
}
.your-plan{
  font-size: 33px;
  margin-left: -111px;
  color: white;
}


.card-container-one {
  display: none;
}


/* *switch button staet */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 50rem;
  margin-bottom: 5rem;
    margin-top: 5rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: -3rem;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c01b1b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:#8a8a8a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mon{
  margin-top: -7rem;
  margin-left: 40rem;
  font-size: 1.3rem;
  font-weight: bold;
  color:#310794;
  margin-bottom: 4rem;
}
/* *switch button end */

.card-container{
  display: flex;
  margin-left: 12rem;
  column-gap: 4rem;
}

.card{
  width: 21rem;
 
}

.card div span{
  display: block;
  padding: 1rem;
  /* margin-left: 3rem; */
  font-size: 25px;
  font-weight: 500;
  /* margin-top: -6px; */
}
.basic{

  color: maroon;
  /* margin-left: 100px; */
  margin-top: 6px;
}
.doller{
  /* margin-left: 6.5rem; */
  font-size: 2rem;
  margin-top: -20px;
  color: red;
}

.respon{
  /* margin-left: 4rem; */
    color: blueviolet;

}
.respons{
  color: blueviolet;
  /* margin-left: 2.5rem; */
  margin-top: -25px;
}
.support{
  /* margin-left: 4.4rem; */
    margin-top: -23px;
    color: darkgray;
}

.supports{
  /* margin-left: 3.4rem; */
    margin-top: -23px;
    color: darkgray;
}

.car-2-support{
  /* margin-left: 4.4rem; */
    margin-top: -23px;
    color: blueviolet;
}

.car-2-supports{
  /* margin-left: 3.4rem; */
    margin-top: -23px;
    color: blueviolet;
}

.car-3-support{
  /* margin-left: 4.4rem; */
    margin-top: -23px;
    color: blueviolet;
}

.car-3-supports{
  /* margin-left: 3.4rem; */
    margin-top: -23px;
    color: blueviolet;
}
.card button {
      color: firebrick;
      /* margin-left: 5rem; */
      /* margin-top: 2rem; */
      top: -1rem;
    left: 6rem;
      font-size: 22px;
      font-weight: 500;
      border: none;
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      border-radius: 9px;
      /* margin-bottom: 1rem; */
      padding: 10px;
}

.card:hover button{
  background:#e67e22;
  color: white;
}


/* *! card 4,5,6   */

.card-4-5{
  display: flex;
  margin-left: 12rem;
  column-gap: 4rem;

}
.card-4{ 
  width: 21rem;
  margin-left: -13rem;
  border-radius: 15px;
  margin-bottom: 4rem;
}

.card-5{ 
  width: 21rem;
  /* margin-left: -13rem; */
  border-radius: 15px;
  margin-bottom: 4rem;
}

.card-6{ 
  width: 21rem;
  /* margin-left: -13rem; */
  border-radius: 15px;
  margin-bottom: 4rem;
} 
  

   
  

.card-4-inside-div{
  display: grid;
  height: 30rem;
  font-size: 24px;
  border-radius: 15px;
}

.card-5-inside-div{
  display: grid;
  height: 30rem;
  font-size: 24px;
  border-radius: 15px;
}

.card-5 button {
  color: firebrick;
  /* margin-left: 5rem; */
  /* margin-top: 2rem; */
  top: 1rem;
left: 6rem;
  font-size: 22px;
  font-weight: 500;
  border: none;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 9px;
  /* margin-bottom: 1rem; */
  padding: 10px;
}

.card-5:hover button{
background:#e67e22;
color: white;
}


.card-4 button {
  color: firebrick;
  /* margin-left: 5rem; */
  /* margin-top: 2rem; */
  top: 1rem;
left: 6rem;
  font-size: 22px;
  font-weight: 500;
  border: none;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 9px;
  /* margin-bottom: 1rem; */
  padding: 10px;
}

.card-4:hover button{
background:#e67e22;
color: white;
}

.card-6 button {
  color: firebrick;
  /* margin-left: 5rem; */
  /* margin-top: 2rem; */
  top: 1rem;
left: 6rem;
  font-size: 22px;
  font-weight: 500;
  border: none;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 9px;
  /* margin-bottom: 1rem; */
  padding: 10px;
}

.card-6:hover button{
background:#e67e22;
color: white;
}

















/* .card-5{
  height: 30rem;
  margin-left: 34rem;
  margin-top: -32rem;
    width: 23rem;
    background-color: #d63031;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px ;
    margin-bottom: 2rem;
    border-radius:10px ;
}

.card-container-one{
  /* border: 2px red solid; */
  /* width: 71rem; */
/* } */
/* .card-6{
  border: 2px solid;
  height: 30rem;
  width: 23rem;
  margin-top: -30rem;
 
  margin-left: 47rem;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
} */

/* .card-4{
  height: 30rem;
  width: 350px;
 border-radius:10px ;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  background-color: #d63031;
  margin-bottom: 2rem;
}

.card-4-basic {
  font-size: 3rem;
    display: block;
    margin-left: 6rem;
    margin-top: 6px;
color: #fbc531;
}

.card-4-doller{
  font-size: 3rem;
  margin-left: 8rem;
  color: #273c75;
  display: block;

}

.card-4-button{
  margin-top: 3rem;
  display: block;
  margin-left: 7rem;
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 600;
}

.card-4-respon{
  display: block;
  margin-left: 6rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: antiquewhite;
}
.card-4-support{
  display: block;
  font-size: 2rem;
  margin-left: 7rem;
  margin-top: 1rem;
  color: antiquewhite;
}

.card-4-supports{
  display: block;
    font-size: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
    color: antiquewhite;
}  */


/*  ! section 6 end */

/*  ! section 7 start */
.carousel {
  width: 800px;
  height: 29rem;
  overflow: hidden;
  margin-left: 23rem;
 
  
}

.slide {
  width: 800px;
  height: 20rem;
  display: none;
  margin-top:5rem;
  margin-bottom: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.active-slide {
  display: block;
}

.cquote{
 
  margin-left: 21rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.carousel-para{
  color: #8a8a8a;
  
 
  padding: 1rem 6rem;


  }
 .Nabil{
  margin-left: 19rem;
  font-weight: bold;
  font-size: 30px;
 } 
  
   /*  ! section 7 end */
    /*  ! section 8 start */
.address{
  font-size: 33px;
    padding: 10px;
}
.king{
  font-size: 21px;
    padding: 10px;
    color: #8a8a8a;
}
.phone{
  font-size: 30px;
    padding: 10px;
}
.numberr{
  font-size: 21px;
    padding: 10px;
    color: #8a8a8a;
}

.sub{
  margin-top: 3rem;
  margin-left: 28rem;
  
  margin-bottom: 4rem;

  border: none;
  padding: 12px 25px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 15px;
}
.sub:hover{
  background-color: #fbc531;
  color: white;
}

.text-box{
  margin-top: 2rem;
  margin-left: 8rem;
  border: none;
 background: #dcdde1;
  width: 45rem;
  height: 7rem;
  border-radius: 10px;
}

#subject{
  margin-left: 8rem;
    margin-top: 2rem;
    border: none;
    background: #dcdde1;
    width: 45rem;
    height: 3rem;
    border-radius: 10px;
}

#email{
  margin-left: 32rem;
  margin-top: -46px;
  display: block;
  border: none;
  background: #dcdde1;
  width: 21rem;
  height: 3rem;
  border-radius: 10px;
}

#name{
  margin-top: 7rem;
  margin-left: 8rem;
  border: 0px;
  background: #dcdde1;
  width: 22rem;
  height: 3rem;
  border-radius: 10px;
}

.text-box:focus{
  outline:4px solid #273c75;
}
#name:focus{
  outline:4px solid #273c75;
}
#email:focus{
  outline:4px solid #273c75;
}
#subject:focus{
  outline:4px solid #273c75;
}
.text-box:focus{
  outline:4px solid #273c75;
}
  /*  ! section 8 end */ 

  /* *!footer start */
  .footer{
    background-color: #310794;
  }
  
  .foot-log{
    margin-top: 49px;
    color: white;
    margin-bottom: 30px;
    margin-left: 28px;
}
  

  .fooot-para{
    margin-left: 52px;
    margin-top: 32px;}

.about-div-foot{
  display: grid;
  row-gap: 23px;
  color: white;
  margin-top: 5rem;
  margin-left: 10rem;
  font-size: 23px;
}

.card-3-fot-div{
  color: white;
  display: grid;
  font-size: 26px;
  row-gap: 18px;
  margin-top: 75px;
}

.foot-socia{
  color: white;
    display: grid;
    font-size: 29px;
    row-gap: 15px;
    margin-top: 69px;
}

  /* *!footer end */